body {
  margin: 0;
  padding: 0;
  color: #eee;
  background-color: #424242;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  background-color: #212121;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3em;
}

nav a {
  margin: 0 1em;
}

.game-card {
  max-width: 300px;
  max-height: 380px;
  border-radius: 4px;
  background-color: #1b1b1b;
  cursor: pointer;
  transition: all 0.2s;
  margin: 10px;
}

.game-card:hover {
  opacity: 0.8;
}

.game-card .home-img-container {
  width: 300px;
}

.game-card img {
  width: 300px;
  height: 200px;
}

.game-card h1 {
  font-size: 20px;
  padding: 1em;
}

.home-page {
  margin: 30px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.form-page form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  width: 60%;
  height: 30px;
  margin: 5px;
}

button {
  width: 100px;
  padding: 0.2em 1em;
  border: 0;
  border-radius: 4px;
  font-size: 1.1rem;
  cursor: pointer;
  margin: 50px;
}

.form-page {
  border: 1px solid black;
  width: 50vw;
  height: 50vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.player-info {
  border: 2px solid black;
  width: 50vw;
  height: 50vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 25px;
}

.image-container img {
  margin: 20px;
  width: 400px;
  height: 400px;
}

.game-page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header h1 {
  font-size: 90px;
}

.start {
  font-size: 50px;
}
